@charset "utf-8";
/* CSS Document */
/* 
*  CSS TABLE OF CONTENTS
*   
*  1.0 - Reset
*  2.0 - Global Styles
*  3.0 - Fonts
*  4.0 - Body
*  5.0 - Mediaqueries

*/

/*** 1.0 - Reset ***/

*, :after, :before {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  font-family: Conv_Roboto-Regular, Sans-Serif;
  font-size: 14px;
  font-weight: 400;
  color: #1034a1;
  line-height: 1.5em;
  background: #01204e
}

a {
  text-decoration: none;
  outline: 0;
  color: #d21f1f
}

ul {
  padding-left: 0
}

li {
  list-style: none
}


/*** 2.0 - Global Styles ***/
h1 {
  text-transform: uppercase;
  font-size: 26px
}

h2, h3 {
  font-weight: 500
}

h2 {
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: 700
}

h2 i {
  vertical-align: bottom;
  margin-left: 10px
}

h3 {
  color: #072b5a;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 18px
}

article {
  margin-bottom: 40px
}



p span {
  color: #8f9293;
  margin-bottom: 15px;
  display: block
}

ul li {
  background: url("../../images/arrow.png") 0 9px no-repeat;
  padding-left: 15px;
  line-height: 28px
}

 /*** 3.0 - Fonts ***/

@font-face {
  font-family: Conv_Roboto-Regular;
  src: url(fonts/Roboto-Regular.eot);
  src: local('☺'), url(../fonts/Roboto-Regular.woff) format('woff'), url(../fonts/Roboto-Regular.ttf) format('truetype'), url(../fonts/Roboto-Regular.svg) format('svg');
  font-weight: 400;
  font-style: normal
}

/*** 4.0 - Body ***/

#wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: #e5d2d2;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
  border-top: 1px solid #eaeaea;
  padding: 40px;
  margin: 20px auto; /* center in the viewport */
  max-width: 960px /* max-width of the layout */
}

header {
  border-bottom: 3px dashed #f4efef;
  grid-area: header; /* header spans full columns */ 
  flex: 0 0 100%;
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 20px
}

header h1 {
  flex: 6 0 30%;
}

header p {
  padding-right: 30px;
  padding-bottom: 20px
}

header p i {
  vertical-align: middle;
	padding-right: 10px;
}

aside {
  flex: 0 0 24%;
}

main {
  flex: 0 0 70%;
  margin-left: auto;
}

/*** 5.0 - Mediaqueries ***/

@media (min-width:320px) and (max-width:991px) {
	
  h1 {
    color: #fff;
    margin-bottom: 20px
  }
	
  h2 {
    background: #f0f0f0;
    padding: 10px;
    border-radius: 5px
  }
	
  #wrapper {
    padding: 20px;
    grid-gap: 10px
  }
	
  header {
    display: block;
    border-radius: 5px;
    background: #4b879f;
    background: -moz-linear-gradient(45deg, #49c0f0 0, #2d5ae2 100%);
    background: -webkit-linear-gradient(45deg, #49c0f0 0, #2d5ae2 100%);
    background: linear-gradient(45deg, #49c0f0 0, #2d5ae2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#49c0f0', endColorstr='#2d5ae2', GradientType=1);
    border-bottom: 0;
    padding: 20px 20px 5px;
  }
	
  header p a {
    color: #fff
  }
	
}